body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  text-align: center;
}

.country-list {
  font-size: medium;

}

.trip {
  padding-top: 4vh;
  font-size: 25px;
  ;

}

.labels {
  display: grid;
  font-size: large;
  width: 30vh;
  padding: 3vh;
}

.description {
  height: 15vh;
}

.trip-button {
  margin-top: 3vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}